body {
    background-color: rgba(223, 219, 219, 0.952);
}

header {
    text-align: center;
    font-family: "Roboto";
    font-size: 80px;
    font-weight: bold;
}

footer {
    text-align: center;
    font-family: "Roboto";
    font-size: 80px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 500px;
    height: 500px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-style: solid;
    border-width: 0.01px;
    font-size: 30px;
}

#slider {
    width: 500px;
}

#slider-value {
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

#main-box {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    /* flex-basis: 70%; */
    /* justify-content: center; */
    align-items: center;
}

#main-buttons {
    display: flex;
    flex-direction: column;
    /* flex: 0 0 auto; */
    /* flex-shrink: 0; */
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 200px;
    /* column-gap: 100px; */
}

#main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

#yourPickDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    align-items: center;
    appearance: none;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    fill: currentcolor;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    letter-spacing: .25px;
    line-height: normal;
    max-width: 100%;
    overflow: visible;
    padding: 2px 24px;
    position: relative;
    text-align: center;
    text-transform: none;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    will-change: transform,opacity;
    z-index: 0;
  }

  .button:hover {
    background: #F6F9FE;
    color: #174ea6;
  }

  .button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
  }

  .button.active {
    outline: none;
    border: 2px solid #4286f4;
    background-color: #8cb2f081;
  }

  .button.one.active {
    outline: none;
    border: 2px solid #4286f4;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 0.2) 0%,
        rgba(255, 154, 0, 0.2) 10%,
        rgba(208, 222, 33, 0.2) 20%,
        rgba(79, 220, 74, 0.2) 30%,
        rgba(63, 218, 216, 0.2) 40%,
        rgba(47, 201, 226, 0.2) 50%,
        rgba(28, 127, 238, 0.2) 60%,
        rgba(95, 21, 242, 0.2) 70%,
        rgba(186, 12, 248, 0.2) 80%,
        rgba(251, 7, 217, 0.2) 90%,
        rgba(255, 0, 0, 0.2) 100%
    );
  }

  .button-1:not(:disabled) {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  .button-1:not(:disabled):hover {
    box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
  }

  .button-1:not(:disabled):focus {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

  .button-1:not(:disabled):active {
    box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
  }

  .button-1:disabled {
    box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 20px;
    font-size: 20px;
  }
